{% extends "layout.html" %}
{% block content %}
<div class="text-content text-container">
    <div class="heading">
        <h1>
            About SongSavvy
        </h1>
    </div>
    <div class="paratext">
        <p>
            With the emergence of social media, sharing music has become easier than ever before! An average music listener has access to millions of songs of a particular genre. Most of us have heard of popular artists like Travis Scott & Taylor Swift, with the vast majority of us including their music in our everyday playlists. Up-and-coming artists can find it extremely difficult to create & identify distinguishing characteristics for their music.
            <br/>
            <br/>
            SongSavvy is a useful tool for such emerging artists. Once you enter the URL of a Spotify track, SongSavvy predicts (with an accuracy of ~88%) whether the track is a hit or flop. The model was built using a Multi-Layered Neural Network and the project repo can be found <a href="https://github.com/udbhavbalaji/spotify-hit-detector">here</a>.
            <br/>
            <br/>
            SongSavvy's primary use-case is to identify the most appropriate choices for music marketing. It is evident that marketing for an artist happens primarily in 2 levels. For up-and-coming artists, they handle their own marketing with limited budgets. SongSavvy is a valuable tool for them as it allows them to make more informed decisions on where to spend their valuable capital to maximise their music's reach.
            <br/>
            <br/>
            For established artists (most of whom are signed to music labels), their music marketing is usually handled by the labels, who will look to maximise profits by maximising reach and minimising marketing expenses. SongSavvy can help these companies identify certain tracks in an artists' catalogue that will perform the best and therefore, have a greater ROI.
        </p>
    </div>
    <div class="create-button width-150">
        <a href="https://github.com/udbhavbalaji/song_savvy">
            Visit GitHub Repo
        </a>
    </div>
</div>
{% endblock content %}
{% block footer_pos %}
<div class="footer-fixed">
<!-- <div class="footer"> -->
{% endblock footer_pos %}
