<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>{{ title }} | SongSavvy</title>
    {% else %}
        <title>SongSavvy</title>
    {% endif %}

    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="topbar">
        <div class="logo-box">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="SongSavvy Logo" />
            </a>
        </div>

        <div class="heading-bar">
            <a href="{{ url_for('home') }}">
                <h1>Song Savvy</h1>
            </a>
        </div>

        <div class="navbar">
            <center>
                <ul class="horiz-vert-center">
                    <li><a href="{{ url_for('prediction') }}">Hit Predictor</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <!-- Uncomment the following line when database support is provided to app. -->
                    <!-- <li><a href="{{ url_for('history') }}">History</a></li> -->
                </ul>
            </center>
        </div>
    </div>

    <center>
        {% block content %}{% endblock content %}
    </center>

    {% block footer_pos %}{% endblock footer_pos %}
        <div class="empty-row">

        </div>

        <div class="link-container">
            <div class="quick-links">
                <h2>
                    Quick Links
                </h2>

                <ul>
                    <li>
                        <a href="{{ url_for('home') }}">
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('about') }}">
                            About
                        </a>
                    </li>

                    <li>
                        <!-- <a href="{{ url_for('history') }}"> -->
                        <a href="#">
                            View Prediction History
                        </a>
                    </li>

                </ul>
            </div>

            <div class="quick-links">
                <h2>
                    Let's Connect!
                </h2>

                <ul>
                    <li>
                        <a href="mailto:udbhavbalaji@gmail.com">
                            <i class="fa-solid fa-envelope">  </i> Email Me
                        </a>
                    </li>

                    <li>
                        <a href="https://linkedin.com/in/udbhav-balaji">
                            <i class="fa-brands fa-linkedin">  </i> LinkedIn
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/udbhavbalaji">
                            <i class="fa-brands fa-github">  </i> GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tiny-text">
            <p>
                Built with <i class="icon-spacing fa-brands fa-python"> </i>Python, <i class="icon-spacing fa-brands fa-html5"> </i>HTML & <i class="icon-spacing fa-brands fa-css3"> </i>CSS
            </p>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/6674ea7100.js" crossorigin="anonymous"></script>

</body>
</html>